---
layout: default
siteNav: home
---

<section class="home__header">

	<section class="introduction">
		
		<div class="introduction__textContainer__wrapper">
			<div class="introduction__textContainer">
				<p class="introduction__hello homeAnimation1">Hi, I'm</p>
				<h1 class="introduction__title homeAnimation2">KENNETH WANG</h1>
			</div>
			<div class="introduction__textContainer">
				<h3 class="introduction__tagline homeAnimation3">I combine beautiful code and stunning design to create amazing products.</h3>
			</div>
		</div>
		<hr class="fancy-hr home__hr">


		<section class="introduction__typewriter__wrapper">
			<span class="introduction__typewriter homeAnimation5"></span>
		</section>

	</section>

	<div class="home__monotoneFace homeAnimation4"></div>

</section>




<section class="expertise">

	<h2 class="expertiseTitle">MY EXPERTISE</h2>
	<hr class="short-hr">

	<div class="expertise__wrapper">
		<div class="expertise__blocks">
			<div class="expertise__image"><img src="/assets/images/view.svg" /></div>
			<h4 class="expertise__block__title">BRANDING</h4>
			<h5 class="expertise__description">Make your customers feel confident with a strong brand that stands out in the marketplace.</h5>
		</div>
		<div class="expertise__blocks">
			<div class="expertise__image"><img src="/assets/images/computer_add.svg" /></div>
			<h4 class="expertise__block__title">WEB DESIGN</h4>
			<h5 class="expertise__description">I design and develop responsive and easy to use websites that are coded with industry-standard technology.</h5>
		</div>
		<div class="expertise__blocks">
			<div class="expertise__image"><img src="/assets/images/iphone.svg" /></div>
			<h4 class="expertise__block__title">MOBILE APP</h4>
			<h5 class="expertise__description">Using iOS, Android and an expert vision, I’ll take your application to the next level.</h5>
		</div>
	</div>
</section>



<section class="latestPosts">
		
		<div class="latestPosts__wrapper">


			<div class="latestPosts__header clearfix">
				<h5 class="latestPosts__header__title">FEATURED WORK</h5>
				<a class="latestPosts__viewMore" href="{{ site.url }}/portfolio/">View more →</a>
			</div>
			{% for post in site.categories['portfolio'] limit:1 %}
			<a class="latestPosts__post__wrapper" href="{{ site.url }}/portfolio/">
				<div class="latestPosts__thumbnail">
					<img src="/assets/images/{{ post.tinyThumbnail }}">
				</div>
				<div class="latestPosts__text__wrapper">
					<p class="latestPosts__title" >{{ post.title }}</p>
					<h5 class="latestPosts__description">{{ post.shortDescription }}</h5>
				</div>
			</a>
			{% endfor %}
		</div>


		<div class="latestPosts__wrapper">


			<div class="latestPosts__header clearfix">
				<h5 class="latestPosts__header__title">LATEST BLOG POST</h5>
				<a class="latestPosts__viewMore" href="{{ site.url }}/blog/">View more →</a>
			</div>
			{% for post in site.categories['blog'] limit:1 %}
			<a class="latestPosts__post__wrapper" href="{{ post.url | prepend: site.url }}">
				<div class="latestPosts__thumbnail">
					<img src="/assets/images/{{ post.thumbnail }}">
				</div>
				<div class="latestPosts__text__wrapper">
					<p class="latestPosts__title" >{{ post.title }}</p>
					<h5 class="latestPosts__description">{{ post.description }}</h5>
				</div>
			</a>
			{% endfor %}
		</div>

	</section>




	<section class="contactMe">
		
		
	</section>

<script defer src="assets/js/vendor/typed.js" data-no-instant></script>
<script defer src="assets/js/home.js" data-no-instant</script>