---
layout: default
siteNav: home
---

<section class="introduction">
	
	<div class="introduction__wrapper">
		<p class="introduction__hello">Hi, I'm</p>
		<h1 class="introduction__title">Kenneth Wang</h1>
	</div>
	<div class="introduction__wrapper">
		<h2 class="introduction__tagline">I combine beautiful code and stunning design to create amazing products.</h2>
	</div>

</section>



<section class="latestPosts">
	<div class="latestPosts__wrapper">


		<div class="latestsPosts__header">
			<h5 class="latestsPosts__header__title">Latest Blog Post</h5>
			<a class="latestPosts__view-more" href="{{ site.baseurl }}/blog/">View more →</a>
		</div>
		{% for post in site.categories['blog-posts'] limit:1 %}
		<a class="latestPosts__post__wrapper" href="{{ post.url | prepend: site.baseurl }}/">
			<div class="latestPosts__thumbnail">
				<img src="/assets/images/{{ post.thumbnail }}">
			</div>
			<div class="latestPosts__text__wrapper">
				<span class="latestPosts__title" >{{ post.title }}</span>
				<p class="latestPosts__description">{{ post.description }}</p>
			</div>
		</a>
		{% endfor %}


		<div class="latestsPosts__header">
			<h5 class="latestsPosts__header__title">Featured Work</h5>
			<a class="latestPosts__view-more" href="{{ site.baseurl }}/work/">View more →</a>
		</div>
		{% for post in site.categories['work'] limit:1 %}
		<a class="latestPosts__post__wrapper" href="{{ post.url | prepend: site.baseurl }}/">
			<div class="latestPosts__thumbnail">
				<img src="/assets/images/{{ post.thumbnail }}">
			</div>
			<div class="latestPosts__text__wrapper">
				<span class="latestPosts__title" >{{ post.title }}</span>
				<p class="latestPosts__description">{{ post.description }}</p>
			</div>
		</a>
		{% endfor %}


	</div>
</section>