---
layout: default
siteNav: portfolio
permalink: /portfolio/
---

<section class="portfolio__mainContainer">
	<h1 class="portfolio__title">Portfolio</h1>
	{% for post in site.categories['portfolio'] %}
		<div class="portfolio__card">
			<div class="portfolio__card__textArea">
				<h6 class="portfolio__card__role">{{ post.role }}</h6>
				<h2 class="portfolio__card__title">{{ post.title }}</h2>
				<p class="portfolio__card__description">{{ post.description }}</p>

				{% if post.testimonial %}
				<p class="portfolio__card__testimonial">
					"{{ post.testimonial }}"
					<span class="portfolio__card__testimonialAuthor">-{{ post.testimonialAuthor }}, {{ post.testimonialPosition }} of {{ post.title }}</span>
				</p>
				{% endif %}

				<h6 class="portfolio__card__date"><span>Date:</span> {{ post.month }}</h6>
				<h6 class="portfolio__card__technologies"><span>Built with:</span> {{ post.technologies }}</h6>

				{% if post.active %}
				<a href="{{ post.active }}" target="_blank" class="portfolio__card__button">
					<div class="button button__theme">
						<h4>Visit Site</h4>
					</div>
				</a>
				{% endif %}
			</div>
			<div class="portfolio__card__imageArea">
				<a href="{{ site.url }}/assets/images/{{ post.image1 }}" class="magnific">
					<img src="{{site.url}}/assets/images/{{ post.image1thumb }}" />
				</a>
			</div>
			<div class="portfolio__card__imageArea">
				<a href="{{ site.url }}/assets/images/{{ post.image2 }}" class="magnific">
					<img src="{{ site.url }}/assets/images/{{ post.image2thumb }}" />
				</a>
			</div>
		</div>
	{% endfor %}
</section>