




<nav class="siteNav">
	<a class="siteNav__logo" href="{{ site.baseurl }}/"></a>
	<ul class="siteNav__list">
		<li>
			<a class="siteNav__link {% if page.siteNav == 'home' %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
		</li>
		<li>
			<a class="siteNav__link {% if page.siteNav == 'work' %}active{% endif %}" href="{{ site.baseurl }}/work/">Work</a>
		</li>
		<li>
			<a class="siteNav__link {% if page.siteNav == 'services' %}active{% endif %}" href="{{ site.baseurl }}/services/">Services</a>
		</li>
		<li>
			<a class="siteNav__link {% if page.siteNav == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/design-solutions/">Blog</a>
		</li>
	</ul>
</nav>




