




<nav class="siteNav">
	<ul class="siteNav__list">
		<li>
			<a class="siteNav__link {% if page.siteNav == 'home' %}active{% endif %}" href="{{ site.baseurl }}/">HOME</a>
		</li>
		<li>
			<a class="siteNav__link {% if page.siteNav == 'work' %}active{% endif %}" href="{{ site.baseurl }}/work/">PORTFOLIO</a>
		</li>
		<li>
			<a class="siteNav__link {% if page.siteNav == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/design-solutions/">BLOG</a>
		</li>
		<li>
			<a class="siteNav__link {% if page.siteNav == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/design-solutions/">CONTACT</a>
		</li>
	</ul>
</nav>




