



<section class="navigation">
	<nav class="siteNav">
		<ul class="siteNav__list">
			<li>
				<img src="{{ site.baseurl }}/assets/images/responsive-design.png" />
			</li>
			<li>
				<span class="siteNav__braces">{</span>
			</li>
			<li>
				<a class="siteNav__link {% if page.siteNav == 'home' %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
			</li>
			<li>
				<a class="siteNav__link {% if page.siteNav == 'work' %}active{% endif %}" href="{{ site.baseurl }}/work/">Portfolio</a>
			</li>
			<li>
				<a class="siteNav__link {% if page.siteNav == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/design-solutions/">Blog</a>
			</li>
			<li>
				<a class="siteNav__link {% if page.siteNav == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/design-solutions/">Contact</a>
			</li>
			<li>
				<span class="siteNav__braces">}</span>
			</li>
		</ul>
	</nav>
</section>




