



<section class="navigation">
	<nav class="siteNav">
		<ul class="siteNav__list">
			<li class="siteNav__logo">
				<a href="{{ site.url }}"><img src="{{ site.baseurl }}/assets/images/responsive-design.png" /></a>
			</li>
			<li class="siteNav__title">
				<a href="{{ site.url }}">KenDevDesigns</a>
			</li>
			<li class="siteNav__braces siteNav__braces--startBrace">
				<span>{</span>
			</li>
			<li class="siteNav__link">
				<a class="{% if page.siteNav == 'home' %}active{% endif %}" href="{{ site.url }}/">Home</a>
			</li>
			<li class="siteNav__link">
				<a class="{% if page.siteNav == 'portfolio' %}active{% endif %}" href="{{ site.url }}/portfolio/">Portfolio</a>
			</li>
			<li class="siteNav__link">
				<a class="{% if page.siteNav == 'blog' %}active{% endif %}" href="{{ site.url }}/blog/">Blog</a>
			</li>
			<li class="siteNav__link">
				<a class="contact" href="#">Contact</a>
			</li>
			<li class="siteNav__braces siteNav__braces--endBrace">
				<span>}</span>
			</li>
		</ul>
	</nav>
</section>


<section class="contact__content">
    <h1 class="contact__formTitle">Contact Me</h1>
    <button class="contact__close">×</button>
<form action="//formspree.io/kennethwang14@gmail.com"
      method="POST">
  <div class="group">
    <input class="contact__field" type="text" name="name"><span class="highlight"></span><span class="bar"></span>
    <label>Name</label>
  </div>
  <div class="group">
    <input class="contact__field" type="email" name="_replyTo"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <div class="group">
    <input class="contact__field" type="email" name="_replyTo"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <div class="group">
    <textarea id="contact__message" class="contact__field" type="email" name="_replyTo"><span class="highlight"></span><span class="bar"></span>
    <label>Message</label>
  </div>
</form>
</section>
<div class="contact__animation"></div>






