.homeAnimation1, .homeAnimation2, .homeAnimation3, .homeAnimation4 {
	opacity: 0;
}

.homeAnimation1 {
	-webkit-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.homeAnimation2 {
	-webkit-transition: opacity 1.25s 0.1s;
	-ms-transition: opacity 1.25s 0.1s;
	-moz-transition: opacity 1.25s 0.1s;
	-o-transition: opacity 1.25s 0.1s;
	transition: opacity 1.25s 0.1s;
}

.homeAnimation4 {
	-webkit-transition: opacity 1.5s 0.2s;
	-ms-transition: opacity 1.5s 0.2s;
	-moz-transition: opacity 1.5s 0.2s;
	-o-transition: opacity 1.5s 0.2s;
	transition: opacity 1.5s 0.2s;
}

.homeAnimation4 {
	-webkit-transition: opacity 2s 0.3s; 
	-ms-transition: opacity 2s 0.3s;
	-moz-transition: opacity 2s 0.3s;
	-o-transition: opacity 2s 0.3s;
	transition: opacity 2s 0.3s;
}