 .blog__mainContainer {
 	max-width: 50%;
    margin: auto;
}

.blog__heroArea {
	margin: 40px;
}

.blog__heroTitle {
    text-align: center;
}

.blog__heroDescription {
	text-align: center;
    font-style: italic;
}

.blog__list {
	max-width: 60%;
    margin: auto;
    .blog__post__wrapper {
    	text-decoration: none;
    }
}

.blog__post__wrapper {
	display: block;
	min-height: 150px;
}

.blog__post__wrapper .blog__list__title {
	color: $theme-color;
}

.blog__post__wrapper .blog__list__description:hover {
	color: $body-color;
}

.blog__list__thumbnail {
	float: left;
    margin: 10px;
    margin-top: 20px;
    width: 110px;
    height: 110px;
}

.blog__list__thumbnail img {
	display: block;
    border-radius: 50%;
}

.blog__list__textWrapper {
	overflow: hidden;
    _overflow: visible;
    zoom: 1;
    padding: 10px;
    margin-top: 7px;
}