 .blog__mainContainer {
 	max-width: 925px;
    margin: auto;
    padding-bottom: 30px;
}

.blog__heroArea {
	margin: 40px;
	@media (max-width: 777px) {
		margin: 30px;
	}
	@media (max-width: 600px) {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.blog__heroTitle {
    text-align: center;
	@media (max-width: 777px) {
		font-size: 35px;
	}
}

.blog__heroDescription {
	text-align: center;
    font-style: italic;
    @media (max-width: 777px) {
		font-size: 20px;
	}
	@media (max-width: 600px) {
		font-size: 18px;
	}
}

.blog__list {
	max-width: 555px;
    margin: auto;
    .blog__post__wrapper {
    	text-decoration: none;
    }
}

.blog__post__wrapper {
	display: block;
	min-height: 150px;
	margin-bottom: 20px;
	@media (max-width: 777px) {
		min-height: 120px;
    	margin-bottom: 10px;
	}
}

	.blog__list__date {
		color: $silver;
		@media (max-width: 777px) {
			font-size: 12px;
		}
	}

	.blog__list__title {
		color: $theme-color;
		font-weight: 600;
		line-height: 1.1;
		@media (max-width: 777px) {
			font-size: 18px;
		}
	}

	.blog__post__wrapper .blog__list__title:hover {
		text-decoration: underline;
	}

	.blog__post__wrapper .blog__list__description {
		color: $body-color;
		@media (max-width: 777px) {
			font-size: 16px;
		}
	}

	.blog__list__thumbnail {
		float: left;
	    margin: 10px;
	    margin-top: 20px;
	    width: 110px;
	    height: 110px;
	    @media (max-width: 777px) {
			width: 90px;
			height: 90px;
		}
		@media (max-width: 700px) {
			width: 80px;
			height: 80px;
		}
		@media (max-width: 600px) {
			width: 70px;
			height: 70px;
		}
		@media (max-width: 500px) {
			width: 50px;
			height: 50px;
		}
	}

	.blog__list__thumbnail img {
		display: block;
	    border-radius: 50%;
	}

	.blog__list__textWrapper {
		overflow: hidden;
	    _overflow: visible;
	    zoom: 1;
	    padding: 10px;
	    margin-top: 7px;
	}