// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.introduction {
  padding: 50px;
  margin-left: 20vw;
  margin-top: 20vh;
  lost-utility: clearfix;
}

.introduction__wrapper {
  lost-column: 1/2;
  max-width: 400px;
  height: 400px;
}

.introduction__hello {
}

.introduction__title {
  font-size: 80px;
  text-align: right;
  line-height: 1.2;
}

.introduction__tagline {
  text-align: left;
  lost-align: bottom-left;
}
