// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home__header {
	position: relative;
	border-bottom: 1px solid mix(white, $silver, 50%);
}

	.introduction {

	  margin-left: 12%;
	  margin-top: 12vh;
	  margin-bottom: 15vh;
	  padding: 50px;
	  
	  @media (max-width: 1764px) {
	    margin-left: 5%;
	  }

	  @media (max-width: 1500px) {
	  	margin-left: 0;
	  }
	  
	  @media (max-width: 1110px) {
	  	margin-top: 0;
	  	margin-bottom: 30px;
	  }

	  @media (max-width: 700px) {
	  	padding: 15px;
	  }

	}

	.introduction__textContainer__wrapper {
	  lost-utility: clearfix;
	}
		.introduction__textContainer {
		  lost-column: 1/2 2;
		  width: 465px; //Width of title text
		  height: 200px;
		  lost-align: bottom-left;
		  @media (max-width: 1335px) {
	  	    width: 400px;
	  	  }
	  	  &:nth-child(2) {
	  	  	@media (max-width: 1110px) {
    		  max-width: 540px;
 			}
 			@media (max-width: 960px) {
	  	      width: 100%;
	  	      height: 100px;
	  	      max-width: 100%;
	  	    }		
	  	  }
	  	  @media (max-width: 960px) {
	  	    width: 100%;
	  	    height: 100px;
	  	  }
	  	  @media (max-width: 700px) {
	  		height: auto;
	  	  }
		}

			.introduction__hello {
			  position: relative;
			  left: 12px;
			  @media (max-width: 1335px) {
	  		    left: 16px;
	  		    top: 35px;
	  		  }
	  		  @media (max-width: 960px) {
	  	        left: 3px;
	  	        top: 20px;
	  	  	  }
	  	  	  @media (max-width: 700px) {
	  			top: 0px;
	  			left: 2px;
	  		  }
			}

			.introduction__title {
			  text-align: right;
			  line-height: 0.8;
			  font-size: 100px;
			  @media (max-width: 1335px) {
	  		    font-size: 85px;
	  		  }	
	  		  @media (max-width: 960px) {
	  	         font-size: 65px
	  	      }
	  	      @media (max-width: 700px) {
	  			 font-size: 45px;
	  			 position: relative;
	  			 top: auto;
	  			 bottom: auto;
	  			 left: auto;
	  			 right: auto;
	  			 text-align: left;
	  			 width: 100%;
	  			 margin-bottom:10px;
	  		  }
			}

			.introduction__tagline {
			  text-align: left;
			  margin-bottom: 15px;
			  @media (max-width: 1335px) {
	  		    font-size:28px;
	  		  }
	  		  @media (max-width: 1110px) {
                font-size: 30px;
                line-height: 1.2;
              }
              @media (max-width: 960px) {
	  	        font-weight: 100;
	  	  	  }
	  	  	  @media (max-width: 700px) {
	  			font-size: 24px;
	  		  }
			}

.home__hr {
  max-width: 60%;
  @media (max-width: 1110px) {
    max-width: 95%;
  }
}

.introduction__typewriter__wrapper {
  padding-left: 50px;
  max-width: 1050px;
  height: 66px;
  @media (max-width: 1700px) {
    max-width: 900px;
  }
  @media (max-width: 1335px) {
    max-width: 750px;
  }
  @media (max-width: 1110px) {
    max-width: 95%;
  }
  @media (max-width: 960px) {
	max-width: 100%;
	padding-left: 0px;
  }
  @media (max-width: 700px) {
	height:130px;
  }
}

	.introduction__typewriter {
	  font-size: 22px;
	  font-family: "anonymous-pro", monospace; 
	  color: #6F6E6E;
	  @media (max-width: 700px) {
	  	font-size: 18px;
	  }
	  @media (max-width: 525px) {
	  	font-size: 16px;
	  }
	}


.home__monotoneFace { 
  width: 31%;
  height: 115%;
  background-image: url("/assets/images/MonotoneFace.png");
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  @media (max-width: 1600px) {
    width: 33%;
  }

  @media (max-width: 1110px) {
    display: none!important;
  }
}




.expertise {
  padding-top: 80px;
  padding-bottom: 100px;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  
  @media (max-width: 700px) {
    padding-top: 45px;
  }    
}

.expertise__wrapper {
  lost-center: 60%;
  text-align: center;
  @media (max-width: 1220px) {
    max-width: 90%;
  }

  @media (max-width: 800px) {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
}

	.expertiseTitle {
	  font-family: $title-font;
      margin-bottom: 10px;
      text-align: center;
      letter-spacing: 3px;
      @media (max-width: 700px) {
    	font-size: 28px;
  	  }
  	  @media (max-width: 525px) {
        font-size: 24px;
  	  }
	}

	.expertise__blocks {
	  lost-column: 1/3 3 60px;
	  margin-top: 40px;
	  margin-bottom: 40px;
	  @media (max-width: 700px) {
        lost-column: 1/1;
        lost-row: 1/3 65px;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-left: 15vw;
        padding-right: 15vw;
  	  }
	}

		.expertise__image img {
			width: 100px;
			height: auto;
			@include on-event {
				fill: $theme-color;
			}
		}

		.expertise__block__title {
		  font-family: $title-font;
		  margin-top: 20px;
		  margin-bottom: 10px;
		  @media (max-width: 700px) {
    		margin-top: 0;
  		  }   
		}

		.expertise__description {
		  color: mix(black, $silver, 25%);
		}


.latestPosts {
  lost-center: 60%;
  margin-top: 110px;
  margin-bottom: 110px;
  @media (max-width: 1335px) {
    max-width: 90%;
  }
}

	.latestPosts__wrapper {
	  lost-column: 1/2 2 65px;
	  @media (max-width: 700px) {
        lost-column: 1/1;
        lost-row: 1/2 65px;
  	  }
	}

	.latestPosts__header {
	  border-bottom: 1px solid $silver;	
	  position: relative;
	}

		.latestPosts__header__title {
		  line-height: 0.8;
		  color: $silver;
		}

		.latestPosts__viewMore {
		  position: absolute;
		  right: 0;
		  bottom: -5px;
		  color: $silver;
		  font-size: 14px;
		}

	.latestPosts__wrapper .latestPosts__post__wrapper {
		  text-decoration: none;
		}


	.latestPosts__title {
		line-height: 1.1;
		font-family: "Montserrat", sans-serif;
	}

		
	.latestPosts__text__wrapper .latestPosts__description {
	  color: $body-color;
	  margin-top: 5px;
	  @media (max-width: 900px) {
        font-size: 14px;
  	  }
  	  @media (max-width: 700px) {
        font-size: 16px;
  	  }
  	  @media (max-width: 525px) {
        font-size: 14px;
  	  }
	}

	/* The Media Object CSS
	http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
	.latestPosts__text__wrapper {
	  overflow:hidden;
	  _overflow:visible;
	  zoom:1;
	  padding: 10px;
	  margin-top: 7px;
	}

	.latestPosts__thumbnail {
	  float: left;
	  margin: 10px;
	  margin-top: 20px;
	  width: 110px;
	  height: 110px;
	  @media (max-width: 900px) {
        width: 90px;
        height: 90px;
  	  }
  	  @media (max-width: 700px) {
        width: 110px;
        height: 110px;
  	  }
  	  @media (max-width: 525px) {
		width: 90px;
        height: 90px;
  	  }
	  img {
	    display:block;
	    border-radius: 50%;
	  }
	}

.homeAnimation1, .homeAnimation2, .homeAnimation3, .homeAnimation4, .homeAnimation5 {
	opacity: 0;
}

.contactMe {
	
  background: -webkit-linear-gradient(90deg, #00c6ff 10%, $theme-color 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00c6ff 10%, $theme-color 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00c6ff 10%, $theme-color 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00c6ff 10%, $theme-color 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00c6ff 10%, $theme-color 90%); /* W3C */
        
}