// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.introduction {
  padding: 50px;
  margin-left: 20vw;
  margin-top: 20vh;
  lost-utility: clearfix;
}

.introduction__wrapper {
  lost-column: 1/2;
  max-width: 300px;
}

.introduction__hello {
  font-size: 18px;
}

.introduction__title {
  font-size: 80px;
  text-align: right;
}

.introduction__tagline {
  font-size: 45px;
  text-align: left;
}
