// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$body-font: 'proxima-nova', sans-serif; //100, 300, 700, 800
$title-font: 'Montserrat', sans-serif; //400

/// Code (monospace) font family
/// @type List
$code-font: 'anonymous-pro', serif; //400

/// Colors
$sea-blue: rgb(9, 168, 250);
$theme-color: $sea-blue;
$title-color: rgb(40, 40, 40);
$body-color: rgb(58, 58, 58);
$silver: rgb(181, 187, 190);


/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1024px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;