// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.siteNav {
	width:100%;
}

.siteNav__logo {
	display:none;
}

.siteNav__list li {
	display: inline;
	margin-right: 20px;
	padding: 15px;
}

.siteNav__link {
	
}