// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.siteNav {
  width: 100%;
  margin-bottom: 20px;
}

.siteNav__list {
  padding: 20px;
}

.siteNav__list li {
  display: inline;
  margin-right: 20px;
}

.siteNav__link {
  color: mix(white, $silver, 40%);
  font-size: 17px;
}

.active {
  color: #1a1a1a;
}
