// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.siteNav {
  width: 100%;
  margin-bottom: 20px;
}

.siteNav a:focus, .siteNav a:hover, .siteNav a:active {
  text-decoration: none;
  color: $body-color;
}

.siteNav__list {
  padding: 20px;
}

	.siteNav__list li {
	  display: inline;
	  margin: 0px;
	}

	.siteNav__logo {
		position: relative;
	    top: 10px;
	}

	.siteNav__logo img {
	  position: relative;
    top: 2px;
    margin-right: 5px;
    width: 62px;
	}
	
	.siteNav__title a {
		font-size: 18px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 3px;
	}
	
	.siteNav__braces:first-child {
		padding-left: 10px;
	}

	.siteNav__braces span {
		  font-size: 27px;
	    font-family: "anonymous-pro", serif;
	}

	.siteNav__braces--startBrace {
		padding-left: 10px;
	}

	.siteNav__link {
		padding-left: 10px;
	  	padding-right: 10px;
		border-right: 1px solid mix(white, $silver, 45%);
		position: relative;
		bottom: 3px;
		@media (max-width: 400px) {
			padding-left: 8px;
	  	padding-right: 8px;
		}
	}

  .siteNav__link-container, .siteNav__title-container {
    @media (max-width: 700px) {
      width: 100%;
      text-align: center;
    }
  }

		.siteNav__link a {
		  color: mix(white, $silver, 45%);
		  font-size: 16px;
			  @media (max-width: 400px) {
				font-size: 14px;
			}
		}

		.siteNav__link .active { //small hack
		  color: $body-color;
		}


		.siteNav__list li:nth-last-child(2) { // last child - 1
			border-right: none;
		}

		.siteNav__title:after {
			@media (max-width: 700px) {
			    content:"\A"; white-space:pre;
			}
		}

.contact__open {
	overflow: hidden;
	position: relative;
}

.contact__content {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    z-index: -1;
    opacity: 0;
}

.contact__open .contact__content {
    z-index: 200;
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 0.3s;
}

.contact__animation {
	position: absolute;
	top: -250px;
	left: -250px;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: $theme-color;
	z-index: 100;

	@include prefix(transform, scale(0));
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	
	.contact__open & {
		@include prefix(transform, scale(10));
		-webkit-transition: -webkit-transform 1.3s;
		transition: transform 1.3s;
	}
	.contact__success & {
		background: $success;
	}
}

.contact__close {
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 50px;
    line-height: 1;
    width: 75px;
    height: 75px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 75px;
    font-weight: 800;
    opacity: 0.65;
    @media (max-width: 825px) {
	    top: 10px;
	    right: 10px;
	}
	@media (max-width: 600px) {
	    top: 5px;
	    right: 5px;
	    width: 50px;
    	height: 50px;
    	font-size: 60px;
	}
}

.contact__formTitle {
	text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 70px;
    margin-bottom: 15px;
    @media (max-width: 825px) {
	    font-size: 50px;
	}
	@media (max-width: 600px) {
	    font-size: 38px;
	}
}

//CodePen by Josh Adamous
form {
    max-width: 650px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

.contact__field {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: white;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.contact__field:focus { outline: none; }


/* Label */

label {
	color: rgba(255, 255, 255, 0.5); 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}


/* active */

.contact__field.used ~ label, .contact__field:focus ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: rgba(255, 255, 255, 0.5);
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: rgba(255, 255, 255, 0.5); 
	-webkit-transition:all 0.2s ease; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.contact__field:focus ~ .bar:before, .contact__field:focus ~ .bar:after { width: 50%; }


/* Highlight */

.contact__highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.contact__field:focus ~ .contact__highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}


/* Animations */

@-webkit-keyframes inputHighlighter {
	from { background: white; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background: white; }
	to 	{ width: 0; background: transparent; }
}

.contact__submitContainer {
	width: 100%;
    margin: auto;
}

.contact__submit {
	width: 100%;
    text-align: center;
    background: transparent;
    border: none;
}

.contact__submitLabel {
	color: white;
    display: inline;
    border-bottom: 1px solid white;
    padding: 3px;
    @media (max-width: 600px) {
	    font-size: 30px;
	}
}