// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.siteNav {
  width: 100%;
  margin-bottom: 20px;
}

.siteNav a:focus, .siteNav a:hover, .siteNav a:active {
  text-decoration: none;
  color: $body-color;
}

.siteNav__list {
  padding: 20px;
   @media (max-width: 850px) {
		padding-left: 0;
	}
}

	.siteNav__list li {
	  display: inline;
	  margin: 0px;
	}

	.siteNav__logo {
		position: relative;
	    top: 10px;
	}
	
	.siteNav__title a {
		font-size: 35px;
	}
	
	.siteNav__braces:first-child {
		padding-left: 10px;
	}

	.siteNav__braces span {
		font-size: 35px;
	    font-weight: 800;
	    font-family: "anonymous-pro", serif;
	}

	.siteNav__braces--startBrace {
		padding-left: 10px;
	}

	.siteNav__link {
		padding-left: 10px;
	  	padding-right: 10px;
		border-right: 1px solid mix(white, $silver, 45%);
		position: relative;
		bottom: 3px;
	}

		.siteNav__link a {
		  color: mix(white, $silver, 45%);
		  font-size: 17px;
		}

		.siteNav__link .active { //small hack
		  color: $body-color;
		}


		.siteNav__list li:nth-child(7) {
			border-right: none;
		}

		li:nth-child(2):after {
			@media (max-width: 777px) {
			    content:"\A"; white-space:pre;
			}
		}