// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.siteNav {
  width: 100%;
  margin-bottom: 20px;
}

.siteNav a:focus, .siteNav a:hover, .siteNav a:active {
  text-decoration: none;
  color: $body-color;
}

.siteNav__list {
  padding: 20px;
   @media (max-width: 850px) {
		padding-left: 0;
	}
}

	.siteNav__list li {
	  display: inline;
	  margin: 0px;
	}

	.siteNav__logo {
		position: relative;
	    top: 10px;
	}

	.siteNav__logo img {
		@media (max-width: 400px) {
			width: 75px;
		}
	}
	
	.siteNav__title a {
		font-size: 35px;
		@media (max-width: 400px) {
			font-size: 28px;
		}
	}
	
	.siteNav__braces:first-child {
		padding-left: 10px;
	}

	.siteNav__braces span {
		font-size: 35px;
	    font-weight: 800;
	    font-family: "anonymous-pro", serif;
	    @media (max-width: 400px) {
			font-size: 28px;
		}
	}

	.siteNav__braces--startBrace {
		padding-left: 10px;
	}

	.siteNav__link {
		padding-left: 10px;
	  	padding-right: 10px;
		border-right: 1px solid mix(white, $silver, 45%);
		position: relative;
		bottom: 3px;
		@media (max-width: 400px) {
			padding-left: 8px;
	  		padding-right: 8px;
		}
	}

		.siteNav__link a {
		  color: mix(white, $silver, 45%);
		  font-size: 17px;
			  @media (max-width: 400px) {
				font-size: 14px;
			}
		}

		.siteNav__link .active { //small hack
		  color: $body-color;
		}


		.siteNav__list li:nth-child(7) {
			border-right: none;
		}

		li:nth-child(2):after {
			@media (max-width: 777px) {
			    content:"\A"; white-space:pre;
			}
		}

.contact__open {
	overflow: hidden;
}

.contact__content {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    z-index: -1;
}

.contact__animation {
	position: absolute;
	top: -500px;
	left: -500px;
	width: 1000px;
	height: 1000px;
	border-radius: 50%;
	background: $theme-color;

	@include prefix(transform, scale(0));
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	.contact__open & {
		@include prefix(transform, scale(10));
		-webkit-transition: -webkit-transform 1.5s, background 0s 1s;
		transition: transform 1.5s, background 0s 1s;
	}
	.contact__success & {
		background: $success;
	}
}

//CodePen by Josh Adamous
form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	-webkit-transition:all 0.2s ease; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}


/* Animations */

@-webkit-keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}