.post__container {
	max-width: 900px;
    margin: auto;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 100px;
}

.post__title {
	line-height: 1;
    text-align: center;
    font-size: 3.4rem;
    @media (max-width: 650px) {
	    font-size: 2.55rem;
	}
	@media (max-width: 425px) {
	    font-size: 1.9rem;
	}
}

.post__date {
	text-align: center;
	color: $silver;
	border-top: 1px solid mix($silver, white, 50%);
    border-bottom: 1px solid mix($silver, white, 50%);
    padding: 3px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}


.post__entry {
	margin-top: 0.5em;
	p {
		font-size: 1.35rem;
		text-indent: 1.2em;
    	margin-top: 1.6em;
    	color: black;
    	@media (max-width: 650px) {
	    	font-size: 1.15rem;
		}
		@media (max-width: 425px) {
	    	font-size: 1rem;
		}
	}

	a {
		color: $theme-color;
   		text-decoration: underline;
	}

	a:hover, a:active, a:focus {
	    color: mix(black, $theme-color, 20%);
	    text-decoration: underline;
	}

	ul, ol {
		margin-top: 1.6em;
	}

	li {
		font-size: 1.35rem;
	    color: black;
	    margin-left: 2em;
	    @media (max-width: 650px) {
	    	font-size: 1.15rem;
		}
		@media (max-width: 425px) {
	    	font-size: 1rem;
		}
	}

	blockquote {

	    padding: 1rem 0 1rem 1.6rem;
	    border-left: 0.5rem solid $theme-color;
	    margin-top: 1.4em;
	    
	    p {
	    	text-indent: 0;
	    	margin: 0;
	    	line-height: 1.5;
	    	font-family: "ff-meta-serif-web-pro", serif;
	    	color: $theme-color;
	    }
		
		cite {
			display: block;
			color: $silver;
		}

	    cite:before {
			content: '\2014 ';
		}
	}

	h3 {
		font-size: 2rem;
	    font-family: "ff-meta-serif-web-pro", serif;
	    font-weight: 800;
	    margin-top: 2.4em;
	    position: relative;
	    top: 1rem;
	    @media (max-width: 650px) {
	    	font-size: 1.7rem;
		}
		@media (max-width: 650px) {
	    	font-size: 1.45rem;
		}
	}
	h5 {
		color: $silver;
		text-align: center;
	}

	ol code, p code, ul code {
	    padding: 0.1em 0.5em;
	    color: $theme-color;
	    background: #fafafa;
	    border: 1px solid #aaa;
	    border-radius: .28rem;
	}
	code, kbd, pre, samp {
		font-size: 0.8em;
	}

	img {
		display: block;
	    margin: auto;
	    margin-bottom: 10px;
	    max-height: 650px;
	    height: auto;
	}

	.highlight {
		padding: 2.5em;
	    margin-top: 2em;
	    font-size: 1.2rem;
	    @media (max-width: 650px) {
	    	font-size: 1.1rem;
		}
		@media (max-width: 425px) {
	    	font-size: 1rem;
		}
	}
	
}
