.post__container {
	max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.post__title {
	line-height: 1;
    text-align: center;
}

.post__date {
	text-align: center;
	color: $silver;
}